@font-face {
    font-family: 'earls-revenge';
    src: url('./fonts/earls-revenge/EarlsRevenge-69Kg.woff2') format('woff2');
}
body {
    background-color: #2f2f2f;
    margin: 0;
}
canvas {
    max-width: 1024px;
    height: auto !important;
}
